version: "3"
services:
  openvpn:
    image: openvpn:1.0
    container_name: openvpn
    hostname: openvpn
    restart: always
    ports:
      - 1194:1194/udp
    volumes:
      - /opt/docker/openvpn/conf:/etc/openvpn
    cap_add:
      - NET_ADMIN
    environment:
      - TZ=America/Sao_Paulo
